{% extends "shared/base_dashboard.html" %}
{% block title %}
  <title>Wizinsights</title>
{% endblock %}
{% block content %}
<div class="modal-dialog col" style="float:left;margin-left:10px">
  
    <h4>Build</h4>
    <div class="modal-content">
      <div class="modal-body">
        <a href="/create_survey/"><label style="color:black">Multiple Choice</label></a>
      </div>
    </div>
    <div class="modal-content" style="margin-top:20px">
      <div class="modal-body">
        <a href="#"><label style="color:black">Checkboxes</label></a>
      </div>
    </div>
    <div class="modal-content" style="margin-top:20px">
      <div class="modal-body">
        <a href="#"><label style="color:black">Star Ratings</label></a>
      </div>
    </div>
    <div class="modal-content" style="margin-top:20px">
      <div class="modal-body">
        <a href="#"><label style="color:black">Dropdown</label></a>
      </div>
    </div>
    <div class="modal-content" style="margin-top:20px">
      <div class="modal-body">
        <a href="#"><label style="color:black">Matrix/Rating Scale</label></a>
      </div>
    </div>
    <div class="modal-content" style="margin-top:20px">
      <div class="modal-body">
        <a href="#"><label style="color:black">File Upload</label></a>
      </div>
    </div>
    <div class="modal-content" style="margin-top:20px">
      <div class="modal-body">
        <a href="#"><label style="color:black">Ranking</label></a>
      </div>
    </div>
    <div class="modal-content" style="margin-top:20px">
      <div class="modal-body">
        <a href="#"><label style="color:black">Image Choice</label></a>
      </div>
    </div>
    <div class="modal-content" style="margin-top:20px">
      <div class="modal-body">
        <a href="#"><label style="color:black">Click Map</label></a>
      </div>
    </div>
</div>


 
{% endblock %}
